<%# FOOTER inside <footer> %>

<%# start .foot  %>
<div class="infoot flex panel senary">
  <div class="flex subpanel sin">
    <a href="#" class="xs link upcase"> Terms </a>
    <a href="#" class="xs link upcase"> Policy </a>
    <a href="#" class="xs link upcase"> Privacy </a>
    <a href="#" class="xs link emb-1 upcase"> Site map </a>
  </div>

  <div class="flex subpanel dex">
    <h6 class="emph"> &copy 2018 ZH </h6>
  </div>

<%# end .foot  %>
</div>
