<%# FOOTER inside <footer> %>

<%# start .foot  %>
<div class="infoot flex xpanel senary">
  <div class="flex xsubpanel sin">
    <a href="#" class="xs link decor-1 upcase bld"> Site map </a>
    <a href="#" class="xs link upcase"> Terms </a>
    <a href="#" class="xs link upcase"> Policy </a>
    <a href="#" class="xs link upcase"> Privacy </a>
  </div>

  <div class="flex xsubpanel dex">
    <h6 class="emph"> &copy 2018 ZH </h6>
  </div>
<%# end .foot  %>
</div>
