<%# HEADER inside <header> %>

<%# start .head  %>
<div class="inhead flex xpanel senary">
  <div class="flex xsubpanel sin">
    <a href="/" id="sitename"> Propensity </a>
  </div>

  <div class="flex xsubpanel dex">
    <h5 class=""> Guest account </h5>
    <a href="#" class="btn sm"> Sign out </a>
  </div>

<%# end .head  %>
</div>
