<%# HEADER inside <header> %>

<%# start .head  %>
<div class="inhead flex panel senary">
  <div class="flex subpanel sin">
    <h2 id="sitename"> Propensity </h2>
    <form id="search">
      <input type="text" placeholder="Search donor"></input>
      <button type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>

  <div class="flex subpanel dex">
    <h5 id="user" class=""> Welcome, Guest </h5>
    <a id="signout" href="#" class="xs link emb-1 underline"> Sign out </a>
  </div>

<%# end .head  %>
</div>
