<%# Left slim asidepanel inside <aside> %>

<%# start left slim panel %>
<div class="flex ypanel primary sin">
  <a class="asilink">
    <button type="button" id="js-openBtn" class="asibtn">
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </button>
  </a>

  <%= link_to donors_path, class: 'asilink' do %>
    <button class="asibtn">
      <i class="fa fa-users" aria-hidden="true"></i>
    </button>
  <% end %>

  <%= link_to new_donor_path, class: 'asilink' do %>
    <button class="asibtn">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
    </button>
  <% end %>

  <a href="#" class="asilink">
    <button type="button" class="asibtn disabled">
      <i class="fa fa-upload" aria-hidden="true"></i>
    </button>
  </a>

<%# end left panel  %>
</div>
