<%# RIGHT SIDEPANEL yield :right_aside to content_for :right_aside %>
<% content_for :right_aside do %>
<% end %>


<%# MAIN inside .inmain %>
<!-- Page title -->
<div class="flex xpanel pghead mgn-x">
  <p class="xl"> Dashboard </p>
  <%= link_to 'Map', root_path, class: 'link upcase' %>
  <%= link_to 'Kanban', kanban_path, class: 'link upcase' %>
</div>


<!-- top section - map section -->
<section id="mapsection" class="mgn-x bb">
  <p class="subctg-title"> This map has been centered at Pearings, Indianapolis, IN </p>
  <div id="map" class="">
  </div>
<!-- end of map section -->
</section>


<!-- mid section - dashboard options -->
<section id="midsection" class="grid">
  <div class="ctn portrait"></div>
  <div class="ctn portrait"></div>
  <div class="ctn portrait"></div>
  <div class="ctn portrait"></div>
<!-- end of dash options -->
</section>


<!-- bottom section - review section -->
<section id="reviewsection" class="mgn-x">
  <h2 class=""> Review </h2>

  <div class="grid quadruplet">
    <div class="">
      <h3 class="bb"> 30 new donations </h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <div class="">
      <h3 class="bb"> Lorem Ipsum </h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <div class="">
      <h3 class="bb"> Lorem Ipsum </h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <div class="">
      <h3 class="bb"> Lorem Ipsum </h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

  </div>
<!-- end of review section -->
</section>

<% content_for :gmapsjs do %>
  <%= javascript_include_tag 'maps', 'data-turbolinks-track': 'false' %>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzsjRpp3p7GDIDf3MrFp0ny7LnxaKEizc&callback=initMap"></script>
<% end %>
