<%# RIGHT SIDEPANEL yield :right_aside to content_for :right_aside %>

<% content_for :right_aside do %>
<% end %>

<%# MAIN inside .inmain %>
<div class="flex xpanel pghead mgn-xy">
    <p class="xl"> Donors registry </p>
    <a class="link decor-1 js-switch-a"> Table </a>
    <a class="link decor-1 js-switch-b"> Cards </a>
</div>

<!-- Control panel -->
<section id="control_pane" class="mgn-x">
  <div class="flex xpanel bb">
    <button class="m lbtn is-underlined"> Search </button>
    <button class="m lbtn is-underlined"> Sort </button>
    <button class="m lbtn is-underlined"> Filter </button>
  </div>
  <div id="control_pane-search" class="flex xpanel tertiary">
    <form class="flex searchbar">
      <input type="text" placeholder="Name"></input>
      <button type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <div id="control_pane-sort" class="flex xpanel tertiary">
    <label> Sort by </label>
    <select>
      <option value="a"> Option </option>
      <option value="b"> Option </option>
      <option value="c"> Option </option>
      <option value="d"> Option </option>
    </select>
  </div>
  <div id="control_pane-filter" class="flex xpanel tertiary">
    <div class="subctg">
      <label> Option </label>
      <input type="checkbox"></input><br>
      <label> Option </label>
      <input type="checkbox"></input><br>
    </div>
    <div class="subctg">
      <label> Option </label>
      <input type="checkbox"></input><br>
      <label> Option </label>
      <input type="checkbox"></input><br>
    </div>
  </div>
</section>

<div class="js-switchable-a mgn-xy">
  <%= render partial: 'tdonors', donors: @donors %>
</div>

<div class="js-switchable-b invisible">
  <%= render partial: 'cards', donors: @donors %>
</div>
