<%# RIGHT SIDEPANEL yield :right_aside to content_for :right_aside %>

<% content_for :right_aside do %>
    <a href="#" class="xs link ver-1 js-switch-a"> Table </a>
    <a href="#" class="xs link ver-1 js-switch-b"> Cards </a>
<% end %>

<%# MAIN inside .inmain %>
<h1 class="mgn-xy title-page bb"> All Donors </h1>

<div class="mgn-xy js-switchable-a">
  <table id="tdonors-all">
    <thead>
      <tr>
      <th>
        Name
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </th>
      <th>
        Plans to gift
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </th>
      <th>
        Propensity
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </th>
      <th>
        Last gift
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </th>
      <th>
        Lifetime gift
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </th>
      <th>
        Events
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </th>
    </tr>
    </thead>

    <tbody>
      <% @donors.each do |donor| %>
      <tr>
        <td>
          <%= link_to donor, class: 'link' do %>
            <h3 class="">
              <%= donor.first_name %> <%= donor.last_name %>
            </h3>
          <% end %>
          <p class="xs visibility epi-4m"> name </p>
        </td>
        <td>
            <p class=""> Yes </p>
            <p class="xs visibility epi-4m"> plans to give </p>
          </td>
          <td>
            <p class=""> 23 </p>
            <p class="xs visibility epi-4m"> propensity </p>
          </td>
          <td>
            <p class=""> $200 </p>
            <p class="xs visibility epi-4m"> last gift </p>
          </td>
          <td>
            <p class=""> $500000</p>
            <p class="xs visibility epi-4m"> lifetime gift </p>
          </td>
          <td>
            <p class=""> 3 </p>
            <p class="xs visibility epi-4m"> events </p>
          </td>
      </tr>
      <% end %>

    </tbody>
  </table>
</div>

<div class="js-switchable-b">
  <%= render partial: 'cards', donors: @donors %>
</div>
