<%# RIGHT SIDEPANEL yield :right_aside to content_for :right_aside %>
<% content_for :right_aside do %>
<% end %>


<%# MAIN inside .inmain %>
<div class="flex xpanel pghead mgn-x">
  <p class="xl"> Kanban board </p>
  <%= link_to 'Map', root_path, class: 'link upcase' %>
  <%= link_to 'Kanban', kanban_path, class: 'link upcase' %>
</div>
<section id="" class="mgn-xy">
  <div id="react" class="">
  </div>
</section>
<%# end of .inmain <%>
