<!-- Page title version 2 -->
<div class="flex xpanel pghead mgn-x">
  <h2 class=""> New donor </h2>
<!-- end of page title -->
</div>

<section id="formsection" class="mgn-xy">
  <%= render 'form', donor: @donor %>
</section>
