/*** Animations ***/
/* =============================================================================== */
.is-underlined{
  border: none;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
}
.is-underlined:before{
  /* essentialy 'border' color */
  /* carmine 1 */
  background: #EF6972;
  content: '';
  height: 2px;
  position: absolute;
    top: 17px;
    left: 0;
  visibility: hidden;
  width: 100%;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.is-underlined:hover:before{
  visibility: visible;

  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
