.underline{
  position: relative;
  border: none;
  min-width: 69px;
}
.underline:before{
  content: '';
  position: absolute;
    top: 17px;
    left: 0;
  width: 100%;
  height: 2px;
  background: #FCA17D;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
