/*** HTML elements ***/
/* ============================================================================== */
/* h* elements are defined in typography.css */
a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas,
caption, cite, code, dd, del, details, dfn, dl, dt, div, em, embed, fieldset,
figcaption, figure, form, footer, header, html, i, iframe, img, input, ins, kbd,
label, legend, li, link, main, mark, nav, object, ol, output, p, pre, q, s, samp,
section, small, span, strong, sub, summary, sup, table, textarea, tbody,
tfoot, thead, td, th, tr, tt, ruby, time, u, ul, var, video{
  margin: 0;
  padding: 0;
}


/*** App <body>, <header>, <main>, <footer>, <aside> rules ***/
/* ============================================================================== */
/* NOTE: Classes immediately on body, header, main, footer */
/* This is a workaround because of react-trello default styling of components */
.body, .head, .main, .foot{
  box-sizing: border-box;
  width: 100%;
}

body.body{
  background: #FFFDFC;
  /* grey 4 */
  color: #546A76;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

header.head{
  /* background: linear-gradient(to right, rgba(255, 254, 254, 1) 54%, rgba(255, 254, 254, 0.7)); */
  background: #FFFDFC;
  position: fixed;
    top: 0;
    left: 0;
  z-index: 20;
}

main.main{
  min-height: 868px;
}

footer.foot{
  background: #FFFDFC;
  z-index: 60;
 }


/* NOTE: Immediate inner divs inside header, main, footer */
.inhead, .inmain, .infoot{
  box-sizing: border-box;
  /* width of panel inside aside */
  margin: 0 56px;
}

/* header */
header .inhead > .xsubpanel > *{
  margin: 0 46px;
}

/* main */
main .inmain{
  /* box-shadow: inset 0px 0px 5px -1px rgb(222, 214, 214);
  -moz-box-shadow: inset 0px 0px 5px -1px rgb(222, 214, 214);
  -webkit-box-shadow: inset 0px 0px 5px -1px rgb(222, 214, 214); */

  box-shadow: inset 0px 3px 8px 0px rgba(202,196,206,1);
  -moz-box-shadow: inset 0px 3px 8px 0px rgba(202,196,206,1);
  -webkit-box-shadow: inset 0px 3px 8px 0px rgba(202,196,206,1);

  height: 100%;
  /* header height: flex panel senary */
  margin-top: 69px;
  /* sidenav 240px + aside 56px = 296px */
  margin-left: 56px;
  transition: 0.3s linear;
  z-index: -10;
}

/* footer */
footer .infoot > .xsubpanel > *{
  margin: 0 46px;
}


/* NOTE: Classes immediately inside aside */
/* ypanel primary is sized at width: 56px in containers.css */
/* LEFT */
aside > div.ypanel.primary.sin{
  /* background: linear-gradient(rgba(255, 254, 254, 1), rgba(255, 254, 254, 0.8)); */
  background: #FFFDFC;
  position: fixed;
    top: 0;
    left: 0;
  z-index: 40;
}

/* individual links */
aside > div.sin a.asilink{
  cursor: default;
  /* <i> is text, so to center it, use text-align: center */
  text-align: center;
  width: 100%;
}
aside > div.sin a.asilink:hover{
  background: #E8EEF2;
  transition: 0.3s linear;
}
aside > div.sin a.asilink:first-child{
  margin-bottom: 3em;
}


/* each link ate a button, each button ate an icon */
aside > div.sin button.asibtn{
  background: transparent;
  border: none;
  /* grey 4 */
  color: #546A76;
  /* cursor: pointer; */
  font-size: 1.6em;
  outline: none;
  padding: 22.5px 0;
  width: 100%;
}
aside > div.sin button.asibtn:hover{
  /* pine 2 */
  color: #1A535C;
  opacity: 1;
}


/* RIGHT */
aside > div.ypanel.primary.dex{
   background: #FFFDFC;
   /* header height: flex panel senary */
   padding-top: 69px;
   position: fixed;
     top: 0;
     right: 0;
   z-index: 30;
 }


/* ==================================== */
/* NOTE: Site name */
a#sitename{
 /* border-left: solid 4px #FCA17D; */
 color: #EF6972;
 font-size: 1.4em;
 font-weight: bold;
 padding-left: 8px;
 position: relative;
   top: 0;
   left: -46px;
  text-transform: uppercase;
}


/* ==================================== */
 /* NOTE: Sidebar nav */
nav.sidenav{
  background: #1A535C;
  height: 100%;
  /* opacity: 0.2; */
  overflow-x: hidden;
  padding-top: calc(3em + 20.5px + 69px);
  position: fixed;
   top: 0;
   /* width of aside */
   left: 56px;
  transition: 0.3s linear;
  /* width will be 240px */
  width: 0;
  z-index: 10;
}
nav.sidenav > *{
  display: block;
  position: relative;
}
nav.sidenav > a.link:first-child{
  /* margin: 0 22px 26px; */
}
nav.sidenav > a.link:not(:first-child){
  /* margin: 26px 22px; */
}

/* NOTE: Search bar */
form#searchbar.searchbar{
  margin: 0 22px 19.5px;
}

form#searchbar.searchbar > button{
  padding: 6px 19px;
}
