/*** BUTTONS ***/
/* ============================================================================== */
/* NOTE: Principal button */
/* unfortunately, there can be a button.btn or input.btn for submit buttons, so
.btn is not specified just on a <button> element */
.btn{
  /* white 2 */
  background: #FFFDFC;
  /* pine 2 */
  border: solid #1A535C 1px;
  border-radius: 1px;
  /* pine 2 */
  color: #1A535C;
  font-size: 1em;
  font-stretch: expanded;

  padding: 13px 48px;

  outline: none;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover{
  /* carmin1  */
  background: #EF6972;
  border-color: #EF6972;
  /* white 2 */
  color: #FFFDFC;
  transition: linear 0.3s;
}

/* NOTE: Modifiers */
.btn.sm{
  font-size: 0.8em;
  padding: 8px 26px;
}

.btn.decor-1{
  /* pine 2 */
  background: #1A535C;
  border: solid #1A535C 1px;
  /* white 2 */
  color: #FFFDFC;
}
.btn.decor-1:hover{
  /* tangerine */
  background: #F18F01;
  border-color: #F18F01;
  transition: linear 0.3s;
}
.btn.decor-sidenav{
  background: transparent;
  border: none;
  /* cream 1 */
  color: #FFF8F0;
  text-align: left;
  padding: 26.5px 0 26.5px 1.61em;
}
.btn.decor-sidenav:hover{
  /* pine 2  */
  background: #88A09E;
  color: #fff;
}


/* ==================================== */
/* NOTE: Icon button, which ate an icon */
button.ibtn {
  background: #EF6972;
  border: solid #EF6972 1px;
  border-radius: 1px;
  color: #FFFDFC;
  font-size: 1em;

  padding: 7px 9.5px;

  outline: none;
  text-align: center;
}
button.ibtn:hover {
  background: #F2B79F;
  border-color: #F2B79F;
  color: #FFFDFC;
  transition: linear 0.3s;
}


/* ==================================== */
/* NOTE: Button in a table */
button.tbtn{}
button.tbtn:hover{}



/* ==================================== */
/* NOTE: Button that looks like a link, but isn't -- usually in combination with js-switch-* */
/* on login page */
button.lbtn{
  border: none;
  color: #828A95;
  outline: none;
  padding: none;
}
button.lbtn:hover{
  color: #EF6972;
  transition: 0.4s;
}


/* ==================================== */
/* NOTE: Buttons -- button group */
div.btns > .btn{
  display: block;
}
/* prevent double borders */
div.btns > .btn:not(:last-child){
  border-bottom: none;
}
