/*** CONTAINERS ***/
/* ============================================================================== */
/* NOTE: Singletons */
.bgrd{
  /* cream 1 */
  background: #FFF8F0;
}

.bn{
  border: none;
}
.bb{
  /* grey 1 */
  border-bottom: solid #EBECEE 1px;
}
.bt{
  /* grey 1 */
  border-top: solid #EBECEE 1px;
  padding-top: 12px;
}

.inset{
  box-shadow: inset 0px 3px 8px 0px rgba(202,196,206,1);
  -moz-box-shadow: inset 0px 3px 8px 0px rgba(202,196,206,1);
  -webkit-box-shadow: inset 0px 3px 8px 0px rgba(202,196,206,1);
}
.outline{
  box-shadow: 0px 3px 8px 0px rgba(202,196,206,1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(202,196,206,1);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(202,196,206,1);
}

/* margins preset */
.mgn-xy{
  margin: 2.767% 3.767%;
}
.mgn-y{
  margin-top: 2.767%;
  margin-bottom: 2.767%;
}
.mgn-x{
  margin-left: 3.767%;
  margin-right: 3.767%;
}

/* paddings preset */
.pad-xy{
  padding: 6.767% 3.767%;
}
.pad-y{
  padding-top: 6.767%;
  padding-bottom: 6.767%;
}
.pad-x{
  padding-left: 3.767%;
  padding-right: 3.767%;
}

.pad34-xy{
  padding: 34px;
}
.pad34-x{
  padding-left: 34px;
  padding-right: 34px;
}

.pad46-xy{
  padding: 46px;
}
.pad46-x{
  padding-left: 46px;
  padding-right: 46px;
}


/* ==================================== */
/* NOTE: FLEX v GRID */
/* FLEXBOX */
.flex{
  display: flex;
  /* default:
      align-items: stretch;
      flex-flow: row nowrap;
      justify-content: flex-start;
   */
}

.flex-ccc{
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}


/* GRID */
.grid{
  display: grid;
    align-items: stretch;
    grid-gap: 46px;
    justify-items: stretch;
 /* default:
    grid-auto-flow: row;
  */
}

/* ==================================== */
/* NOTE: GRID based containers */
/* current preset .grid:
   display: grid;
    align-items: stretch;
    grid-gap: 46px;
    grid-auto-flow: row;
    justify-items: stretch;
*/

.grid.duplex{
  grid-template-columns: repeat(2, 1fr);
}
.grid.triplet{
  grid-template-columns: repeat(3, 1fr);
}
.grid.quadruplet{
  grid-template-columns: repeat(4, 1fr);
}


/* ============================================================================== */
/* NOTE: Regular containers */
.ctn{}
.ctn.portrait{
  /* border: solid rgba(26, 83, 92, 0.3) 10px; */
  margin: 0 auto;
}
.ctn.limbus{
  background: #fff;
  padding: 6.667% 8.667%;
}
.ctn.focal{
  margin: 0 auto;
  padding: 1.667% 4.667%;
  width: 320px;
}


/* NOTE: Named CONTAINERS */
/* logins and signups */
.authctn{
  line-height: 1.6;
}

/* subcathegory container */
.subctg > .subctg-important{
  margin-top: 2em;
}

.subctg-title{
  color: #88A09E;
  margin-bottom: 1.67em;
  padding: 1.1em 0;
  width: 100%;
}


/* ============================================================================== */
/* NOTE: yPANELS -- always column, no subpanels so far, contains options */
/* NOTE: FLEX based */
.flex.ypanel{
  align-items: center;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
}
.flex.ypanel.primary{
  width: 56px;
}

/* ============================================================================== */
/* NOTE: xPANELS -- always row, always flex, has subpanels with options */
/* NOTE: Regular -- flex based */
.flex.xpanel{
  align-items: center;
}
.flex.xpanel.primary{
  /* height: 155px; */
  justify-content: center;
}
.flex.xpanel.secondary{
  height: 69px;
  justify-content: flex-start;
}
.flex.xpanel.tertiary{
  height: 56px;
  justify-content: flex-start;
}

.flex.xpanel.quartenary{
  height: 69px;
  justify-content: flex-end;
}
.flex.xpanel.quinary{
  height: 56px;
  justify-content: flex-end;
}
.flex.xpanel.senary{
  height: 69px;
  justify-content: space-between;
}
.flex.xpanel.septenary{
  height: 56px;
  justify-content: space-between;
}

/* ============================================================================== */
/* NOTE: xSUBPANELS -- always row, always flex */
.flex.xsubpanel{
  align-items: center;
  flex-flow: row nowrap;
  /* default is justify-content: flex-start */
}
.flex.xsubpanel.sin{
  justify-content: flex-start;
}
.flex.xsubpanel.intermed{
  justify-content: center;
}
.flex.xsubpanel.dex{
  justify-content: flex-end;
}
/* children */
.flex.xsubpanel > *{}

/* ==================================== */
/* NOTE: Named xPANELS -- always row */
/* NOTE: Page header/panel aka includes page title -- flex based, NO subpanels */
/* default FLEX: align-items: stretch; flex-flow: row nowrap; justify-content: flex-start; */
.flex.xpanel.pghead{
  /* depends on the size of the font of the largest element */
  flex-flow: row wrap;
  /* padding: calc(3em + 20.5px) 0 3.8em; */
}
.flex.xpanel.pghead > *{
  border-radius: 1px;
  padding: 0 14px 0;
  margin-right: 3em;
}
.flex.xpanel.pghead > *:first-child{
  /* pine 2 */
  border-left: solid #1A535C 14px;
  color: #1A535C;
}

.flex.xpanel.pghead > *:not(:first-child){
  /* carmine 1 */
  border-left: solid #88A09E 14px;
}


/* ==================================== */
/* NOTE: Bascule -- uses subpanels */
/* FLEX BASED */
/* default FLEX: align-items: stretch; flex-flow: row nowrap; justify-content: flex-start; */
.flex.xpanel.bascule{
  align-items: stretch;
  flex-flow: column nowrap;
  justify-content: center;
}
.flex.xpanel.bascule > *:first-child{
  padding-bottom: 0.43em;
}
.flex.xpanel.bascule > div.flex.xsubpanel.dex{
  align-self: flex-end;
  padding-top: 0.43em;
}
.flex.xpanel.bascule > div.flex.xsubpanel.sin{
  align-self: flex-start;
  padding-top: 0.43em;
}
.flex.xpanel.bascule > div.flex.xsubpanel > *{
  margin-right: 6.67em;
}
.flex.xpanel.bascule.pghead > *{
  /* compensates for .pghead > * margin rule */
  margin: 0;
}


/* ==================================== */
/* NOTE: Caterpillar */
/* FLEX BASED */
/* default FLEX: align-items: stretch; flex-flow: row nowrap; justify-content: flex-start; */
.flex.xpanel.caterpillar{
  border-bottom: solid #E8EEF2 1px;
  flex-flow: row wrap;
}

.flex.xpanel.caterpillar .is-underlined:before{
  top: 26px;
}

.flex.xpanel.caterpillar > *:first-child{
  margin-right: 4.33em;
  padding-bottom: 0.33em;
}

/* caterpillar sin does not need explicit rule */
.flex.xpanel.caterpillar.sin{}
.flex.xpanel.caterpillar.sin > div.xsubpanel{}
.flex.xpanel.caterpillar.sin > div.xsubpanel > * {
  margin-right: 56px;
}

/* caterpillar dex needs explicit rules */
.flex.xpanel.caterpillar.dex{
  justify-content: space-between;
}
.flex.xpanel.caterpillar.dex > div.xsubpanel{
  justify-content: flex-end;
}
.flex.xpanel.caterpillar.dex > div.xsubpanel > *{
  margin-left: 56px;
}

.flex.xpanel.caterpillar.pghead{}



/* ==================================== */
/* NOTE: Review panel */
/* FLEX BASED */
.flex.xpanel.review{
  align-items: center;
  /* optional; default is justify-content: flex-start */
  justify-content: center;
  overflow-x: scroll;
}

.flex.xpanel.review > *{
  margin: 34px;
}

/* GRID based -- used as a review panel */
/* current preset .grid:
   display: grid;
    align-items: stretch;
    grid-gap: 46px;
    grid-auto-flow: row;
    justify-items: stretch;
*/
.grid.xpanel.review{

}



/* ============================================================================== */
/* NOTE: Tickets -- always row */
/* NOTE: FLEX based ticket */
.flex.ticket{
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* children */
.flex.ticket > .ticket-main{
  background: #fff;
  flex: 1.61;
}

.flex.ticket > .ticket-stub{
  background: #fff;
  flex: 1;
}

.flex.ticket-stub{
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: center;
}
.flex.ticket-stub.sin{}
.flex.ticket-stub.dex{
  order: 100;
}



/* ============================================================================== */
/* NOTE: GRID based CARD pexeso */
/* NOTE: GRID card -- grid based individual DUPLET card actually works as a
   byproduct, but it is not styled all that well...
   Ideally, the combinations are:
   .duplet > .flex.card
   .triplet > .grid.card
*/


/* NOTE: TRIPLET 3 cards per row */
.grid.cardpexeso.triplet{
  grid-column-gap: 1.43em;
  grid-row-gap: 6.43em;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: auto;
  justify-content: stretch;
}

/* GRID card -- grid based individual triplet card */
.grid.cardpexeso.triplet div.grid.card{
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 108px 202px;
  min-width: 320px;
  max-width: 50vw;
}
.grid.cardpexeso.triplet div.grid.card > div.grid.card-top{
  /* grey 1 */
  background: #E8EEF2;
  box-shadow: 0px 1px 4px 0px rgba(202,196,206,0.8);
  -moz-box-shadow: 0px 1px 4px 0px rgba(202,196,206,0.8);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(202,196,206,0.8);
  grid-area: 1/1/2/3;
  grid-gap: 0;
}
.grid.cardpexeso.triplet div.grid.card > div.grid.card-main{
  grid-area: 2/1/3/3;
  padding: 1.6em 1.6em 0;
  /* This stays consistent between triplet vs duplet cards */
  grid-gap: 0;
  grid-template-columns: 1.61fr 1fr;
  grid-template-rows: 1fr 1fr 46px;
}
/* grid based card-top-title */
.triplet div.grid.card div.grid.card-top > .card-top-title{
  align-self: center;
  /* grey 2 */
  border-right: solid #C5CBD3 8px;
  text-align: center;
}

/* NOTE: These 7 rules stay consistent between triplet vs duplet cards */
/* card-top */
div.grid.card-top > .card-top-title{
  /* grey 2 */
  border-left: solid #C5CBD3 8px;
  /* pine 2 */
  color: #1A535C;
  font-weight: bold;
  padding-left: 8px;
}
/* card-main */
div.card{
  background: #fff;
}
div.card:hover{
  box-shadow: 0px 3px 8px 1px rgb(232, 238, 242);
  -moz-box-shadow: 0px 3px 8px 1px rgb(232, 238, 242);
  -webkit-box-shadow: 0px 3px 8px 1px rgb(232, 238, 242);
}

div.card div.grid.card-main > div.card-main-primary.sin{
  grid-area: 1/1/2/2;
}
div.grid.card-main div.card-main-primary.sin > *:nth-child(1){
  /* green 1 */
  color: #79B473;
}
div.grid.card-main div.card-main-primary.sin > *:nth-child(2){
  /* blue 2 */
  color: #7EA8BE;
}
div.card div.grid.card-main > div.card-main-primary.dex{
  grid-area: 1/2/2/3;
  justify-self: end;
}
div.card div.grid.card-main > div.card-main-secondary{
  grid-area: 2/1/3/3;
}
div.card div.grid.card-main > div.card-main-bottom{
  /* grey 1 */
  border-top: dotted #EBECEE 1px;
  grid-area: 3/1/4/3;
  line-height: 1.6;
  padding-top: 3px;
}


/* NOTE: DUPLET 2 cards per row */
.grid.cardpexeso.duplet{
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(38vw, 1fr));
  grid-template-rows: auto;
  justify-content: space-evenly;
}

/* GRID card */
.grid.cardpexeso.duplet div.grid.card{
  padding-top: 3.1em;
  min-width: 320px;
  max-width: 50vw;
}
.grid.cardpexeso.duplet div.grid.card > div.grid.card-top{}
.grid.cardpexeso.duplet div.grid.card > div.grid.card-main{}


/* FLEX card -- flex based individual duplet card */
.grid.cardpexeso.duplet div.flex.card{
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 209px;
}
.grid.cardpexeso.duplet div.flex.card > div.grid.card-top{
  flex: 1;
  padding: 2.61em 0;
}
.grid.cardpexeso.duplet div.flex.card > div.grid.card-main{
  flex: 1.61;
  min-width: 320px;
  padding: 2.61em 1.6em 0;

  /* This stays consistent between triplet vs duplet cards */
  grid-gap: 0;
  grid-template-columns: 1.61fr 1fr;
  grid-template-rows: auto;
}
/* flex based card-top-title*/
.duplet div.flex.card div.grid.card-top > .card-top-title{
  align-self: start;
  text-align: left;
}




/* ============================================================================== */
/* NOTE: GRID BASED general pexeso */

.grid.address_book{
  align-items: stretch;
  grid-gap: 8px;
  grid-template-columns: 16vw 1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
}

.grid.address_book > div.address_book-letter{
  align-self: start;
  justify-self: center;
}

.grid.address_book > div.grid.address_book-main{
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  grid-template-rows: auto;
}
