/*** Forms, inputs, submit buttons ***/
/* ================================================================================ */
/* NOTE: FORMS */
/* Donor form for new */
form.donor_form > div.ticket{
  padding: 2em 1.767% 3.767%;
}

form.donor_form div.ticket-stub, form.donor_form div.ticket-main{
  margin: 0 1.767%;
  min-width: 320px;
}
form.donor_form div.subctg{
  display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-start;
  width: 100%;
}

form.donor_form div.subctg > *:last-child{
  margin-bottom: 4em;
}

form.donor_form input.btn{
  position: relative;
  width: 280px;
}

form.donor_form input.input{
  width: 100%;
}

/* Search bar */
form.searchbar{
  border: solid #E8EEF2 1px;
  border-radius: 1px;
}
form.searchbar > *{
  border: none;
  outline: none;
}
form.searchbar > button{
  /* carmine 1 */
  color: #EF6972;
  font-size: 14px;
  padding: 6px 19px;
  position: relative;
    /* left: 1px; */
}
form.searchbar > button:hover{
  background: #EF6972;
  color: #FFFDFC;
  transition: 0.3s;
}
form.searchbar > input{
  padding-left: 18px;
}

/* ==================================== */
/* NOTE: INPUTS */
/* NOTE: Principal input */
input.input{
  outline: none;
}


/* NOTE: Input modifiers */
.input.decor-1{
  border: solid transparent 1px;
  border-bottom: solid #E8EEF2 1px;
  border-radius: 1px;
  margin-bottom: 1.67em;
  padding: 1em 0 1em 18px;
}
.input.decor-1:hover{
  border-color: #FCA17D;
}
.input.decor-1:focus{
  border-color: #FCA17D;
}

.input.decor-2{
  /* grey 1 */
  border: solid #EBECEE 1px;
  margin-bottom: 1.67em;
  padding: 1em 0 1em 8px;
}
.input.decor-2:hover{
  /* carmine 1 */
  border-color: #F18F01;
  transition: 0.3s linear;
}
