/*** LINKS ***/
/* ============================================================================== */
/* NOTE: There will be no font-sizing on .link classes and subclasses */
a{
  cursor: pointer;
  text-decoration: none;
}

/* NOTE: Primary link */
a.link{
  /* grey 2 */
  color: #C5CBD3;
  cursor: pointer;
}
a.link:hover{
  /* pine 1 */
  color: #1C7C54;
  transition: 0.4s;
}


/* NOTE: Underlined link */
a.link_{
  /* grey 2 */
  color: #C5CBD3;
  border-bottom: solid #E8EEF2 1px;
  padding-bottom: 3px;
}
a.link_:hover{
  /* pine 1 */
  color: #1C7C54;
  transition: 0.4s;
}


/* NOTE: Modifiers */
.link.decor-1{
  /* grey 2 */
  color: #C5CBD3;
}

.link.decor-1:hover{
  /* carmine 1 */
  color: #EF6972;
  transition: 0.4s;
}

/* in .sidenav */
.link.decor-2{
  /* grey 1 */
  color: #EBECEE;
}
.link.decor-2:hover{
  /* carmine 1 */
  color: #EF6972;
  transition: 0.4s;
}
.link.decor-3{
  /* pine 2 */
  color: #1A535C;
}
.link.decor-3:hover{
  /* carmine 1 */
  color: #EF6972;
  transition: 0.4s;
}
