/* NOTE: State  */
.is-positive{
  color: #79B473;
}

.is-negative{
  color: #546A76;
}

.invisible{
  display: none;
}

.disabled{
  cursor: not-allowed;
}

/* NOTE: Uncathegorizable */
.w100p{
  width: 100%;
}

.w50p{
  width: 50%;
}

.upcase{
  text-transform: uppercase;
}

.bld{
  font-weight: bold;
}
