/*===============================================================================*/
/* NOTE: Titles are all uppercase, default margin, default 0px padding remain  */
h1, h2, h3, h4, h5, h6{
  cursor: default;
  text-transform: uppercase;
}

h3, h4, h5, h6{
  margin: 4px 0;
}

a{
  text-decoration: none;
}

.upcase{
  text-transform: uppercase;
}

.bld{
  font-weight: bold;
}

/* ============================================================================== */
.title-page{
  margin-top: 2.6em;
}
/* NOTE: Titles */
/*===============================================================================*/
/* NOTE: Prefixes
/* default <p> has 1em topbottom margin */
/* sizes are based on default h-* title sizes */
/* hyp is from greek prefix hypo- below */
/* epi is from greek prefix epi- above */

/** Font-sizes */
.xxl{
  font-size: 6em;
}
.xl{
  font-size: 4em;
}
.l{
  font-size: 2em;
}
.m{
  font-size: 1.17em;
}
.s{
  font-size: 1em;
}
.xs{
  font-size: 0.83em;
}
.xxs{
  font-size: 0.67em;
}

/** hyp-pxsizeBottom-type, top constant: 1px, leftright constant: 0 */
/*margins*/
.hyp-2m{
  margin: 1px 0 2px;
}
.hyp-4m{
  margin: 1px 0 4px;
}
.hyp-6m{
  margin: 1px 0 6px;
}
.hyp-13m{
  margin: 1px 0 13px;
}
.hyp-16m{
  margin: 1px 0 16px;
}

/*paddings*/
.hyp-2p{
  padding: 1px 0 2px;
}
.hyp-4p{
  padding: 1px 0 4px;
}
.hyp-6p{
  padding: 1px 0 6px;
}
.hyp-13p{
  padding: 1px 0 13px;
}
.hyp-16p{
  padding: 1px 0 16px;
}

/* epi-pxsizeTop-type, bottom constant: 1px, leftright constant: 0 */
/*margins*/
.epi-2m{
  margin: 2px 0 1px;
}
.epi-4m{
  margin: 4px 0 1px;
}
.epi-6m{
  margin: 6px 0 1px;
}
.epi-13m{
  margin: 13px 0 1px;
}
.epi-16m{
  margin: 16px 0 1px;
}

/*paddings*/
.epi-2p{
  padding: 2px 0 1px;
}
.epi-4p{
  padding: 4px 0 1px;
}
.epi-6p{
  padding: 6px 0 1px;
}
.epi-13p{
  padding: 13px 0 1px;
}
.hyp-16p{
  padding: 16px 0 1px;
}

/* Bidirect-size-pxsizeTopBottom-type, leftright constant: 0px */
/*margins*/
.bidirect-2m{
  margin: 2px 0;
}
.bidirect-4m{
  margin: 4px 0;
}
.bidirect-6m{
  margin: 6px 0;
}
.bidirect-13m{
  margin: 13px 0;
}
.bidirect-16m{
  margin: 16px 0;
}
/*paddings*/
.bidirect-2p{
  padding: 2px 0;
}
.bidirect-4p{
  padding: 4px 0;
}
.bidirect-6p{
  padding: 6px 0;
}
.bidirect-13p{
  padding: 13px 0;
}
.bidirect-16p{
  padding: 16px 0;
}
