/* NOTE: Top section -- Map section */
#mapsection{
  /* grey 2 */
  border-top: solid #C5CBD3 2px;
  border-bottom: solid #C5CBD3 2px;
  /* balancing out margin-bottom from pgtitle */
  margin-bottom: 69px;
}
#mapsection p{
  /* text-align: right; */
}
#mapsection div#map{
  border: solid rgba(26, 83, 92, 0.3) 1px;
  box-shadow: 0px 1px 6px 1px rgba(26, 83, 92, 0.5);
  -moz-box-shadow: 0px 1px 6px 1px rgba(26, 83, 92, 0.5);
  -webkit-box-shadow: 0px 1px 6px 1px rgba(26, 83, 92, 0.5);

  height: 79.6vh;
  margin: 34px auto 69px;
  width: 100%;
}

/* NOTE: Mid section -- Actual dashboard? */
#midsection{
  /* grey 1 */
  background: #E8EEF2;
  margin: 18.7em 0;
  padding: 8.767% 3.767%;
}
#midsection.grid{
  align-items: stretch;
  grid-template-rows: 42vh 30vh;
  grid-template-columns: repeat(2, 0.85fr) 1fr;
  justify-items: stretch;
}
#midsection.grid > div{
  /* temporary, because .ctn.portrait is defined with margin: 0 auto, which negates justify stretch */
  margin: 0;
}
#midsection.grid > div:nth-child(1){
  grid-area: 1/1/2/3;
}
#midsection.grid > div:nth-child(2){
  grid-area: 1/3/3/4;
}
#midsection.grid > div:nth-child(3){
  grid-area: 2/1/3/2;
}
#midsection.grid > div:nth-child(4){
  grid-area: 2/2/3/3;
}


/* NOTE: Bottom section -- review */
#reviewsection{
  /* same border as pgtitle */
  /* grey 2 */
  border-top: solid #C5CBD3 2px;
  padding: 7.767% 0 9.767%;
}

#reviewsection > h2{
  /* grey 3 */
  color: #828A95;
  margin-bottom: 1.81em;
}
#reviewsection > div.quadruplet > div{
  text-align: justify;
}

#reviewsection > div.quadruplet h3{
  /* grey 4 */
  border-bottom: solid #EBECEE 1px;
  color: #F2B79F;
  margin-bottom: 1em;
  padding: 1em 0;
}
