<!DOCTYPE html>
<html>
  <head>
    <title>RailsPropensity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# MAIN IS YIELD SECTION %>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
